@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #03A696;
    --cor2: #D9C9BA;
    --cor3: #da7d5c;
    --cor4: #852610;
    --cor5: #400601;
    --cor6: #755956;

    --font-padrao:"SUSE", sans-serif;
    --font-destaque: "Hind", sans-serif;
    --font-android: "Bruno Ace SC", sans-serif;
}

body{
    font-family: var(--font-padrao);
    background-color: var(--cor2);
}

header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    text-align: center;
    padding: 30px;

}

header h1{
    line-height: 100%;
    color: white;
    font-weight: bold;
    font-family: var(--font-destaque);
    font-size: 2.5em;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.795);
}

header p{
    padding-top: 15px;
    color: white;
    padding-bottom: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.795);

}

nav{
    text-align: center;
    background-color: var(--cor6);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.171);
    padding: 4px;
}

nav > a{
    color: #400601;
    padding: 0px 10px;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    background-color: white;
    text-decoration: underline;
    border-radius: 3px;
    color: black;
}

main{
    min-width: 320px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.322);
    text-indent: 20px;
    
}

main h1{
    font-family: var(--font-android);
    background-image: linear-gradient(to right, #b9220081, transparent);
    color: rgb(105, 0, 0);
}

main h2{
    font-family: var(--font-android);
    background-image: linear-gradient(to right, #b9220081, transparent);
    color: rgb(105, 0, 0);
}

main p{
    line-height: 2em;
    padding: 10px 0px;
    text-align: justify;
}

main img{
    width: 100%;
}

main a{
    font-weight: bold;
    color: #852610;
    text-decoration: none;
    background-color: #7a0c0041;
    padding: 0px 4px;
}

main a:hover{
    text-decoration: underline;
    color: black;
}

main a::after{
    content: '';
}

aside{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    margin: 30px 0px;
}


.video{
    background-color: #e05151;
    margin: 0px -20px 30px -20px;
    padding-bottom: 58.8%;
    position: relative;
}
.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}


aside h3{
    background-color: var(--cor4);
    color: white;
    margin: -10px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-position: inside; /**/
    columns: 2; 
}

.bugdroid{
    max-width: 50%;
    display: block;
    margin: auto;

}

footer{
    text-align: center;
    padding: 2px;
    margin-top: 20px;
    background-color: black;
    color: white;
}