@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #03A696;
    --cor2: #D9C9BA;
    --cor3: #da7d5c;
    --cor4: #852610;
    --cor5: #400601;
    --cor6: #755956;

    --font-padrao:"SUSE", sans-serif;
    --font-destaque: "Hind", sans-serif;
    --font-android: "Bruno Ace SC", sans-serif;
}

body{
    font-family: var(--font-padrao);
    background-color: var(--cor2);
}

header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    text-align: center;
    padding: 30px;

}

header h1{
    
    color: white;
    font-weight: bold;
    font-family: var(--font-destaque);
    font-size: 2.2em;
}

header p{
    color: white;
    padding-bottom: 20px;
}

nav{
    text-align: center;
    background-color: var(--cor6);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.171);
    padding: 4px;
}

nav > a{
    color: #400601;
    padding: 0px 10px;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    background-color: white;
    text-decoration: underline;
    border-radius: 3px;
}

main{
    max-width: 800px;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.322);
    
}

main h1{
    font-family: var(--font-android);
    background-image: linear-gradient(to right, #b9220081, transparent);
    color: rgb(105, 0, 0);
}

main h2{
    font-family: var(--font-android);
    background-image: linear-gradient(to right, #b9220081, transparent);
    color: rgb(105, 0, 0);
}

main p{
    line-height: 2em;
    padding: 10px 0px;
    text-align: justify;
}

main img{
    width: 100%;
}

footer{
    text-align: center;
    padding: 2px;
    margin-top: 20px;
    background-color: black;
    color: white;
}